[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "tesseract"]

[phases.install]
cmds = [
  "python3 -m venv /opt/venv",
  "source /opt/venv/bin/activate",
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "uvicorn api.main:app --host 0.0.0.0 --port $PORT"

