[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "tesseract", "mesa"]

[phases.install]
cmds = [
  "python3 -m venv /opt/venv",
  "source /opt/venv/bin/activate",
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "export LD_LIBRARY_PATH=$HOME/.nix-profile/lib:/nix/var/nix/profiles/default/lib:$LD_LIBRARY_PATH && /opt/venv/bin/uvicorn api.main:app --host 0.0.0.0 --port $PORT"

